// Place all the styles related to the members/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.yoko{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap ;
  justify-content: start;
  align-items: stretch;
  align-content: space-around;
  text-align: center;
}

.index-inner{
  margin-right: 5%;
  margin-left: 5%;
}

.table tr,
.table td{
  border: none;
}


.soldout1 {
  opacity: .99;
  height: 80px;
  width: 200px;
  margin-top: 30px;
  padding-top: 50px;
}

.enn {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.sold {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 100%;
}

