<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <div class= "mt-5 pt-5 text-center">
        <p class="page-title">Thank you for your order！</p>
        <p class="page-title">Expected to arrive in 7days. </p>
      </div>
      <div class= "mt-5 text-right ">
        <%= link_to "買い物を続ける", products_path, class:"btn btn-primary" %>
        <%= link_to "注文履歴", orders_path, class:"btn btn-success" %>
        </div>
    </div>
  </div>
</div>